name: Commitlint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CLICOLOR: 1

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Ensure commit messages are properly formatted
        uses: wagoid/commitlint-github-action@v6
        with:
          failOnWarnings: true
