name: Rust

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
  pull_request:
    branches: ["main"]
    paths:
      - "backend/**"

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Run cargo check
        working-directory: ./backend
        run: cargo check --workspace

      - name: Run cargo clippy
        working-directory: ./backend
        run: cargo clippy --workspace -- -D warnings

  test:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Run cargo test
        working-directory: ./backend
        run: cargo test --verbose --workspace

  formatting:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Run cargo fmt
        working-directory: ./backend
        run: cargo fmt --all --check
